*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #18314F;
}
.gamearea{
    width: 40%;
    height: 400px;
    background: #384E77;
    margin: 80px auto;
    text-align: center;
    border-radius: 10px;
}
.headingOne{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color:#FFF;
    font-size: 4rem;
    padding: 100px 0px 40px 0px;
}
.headingTwo{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color:#FFF;
    font-size: 4rem;
    padding: 100px 0px 8px 0px;
}input {
    font-family: "Poppins", sans-serif;
    width: 90%;
    height: 40px;
    border-radius: 30px;
    border: 1px;
    /* display: inline-block; */
    text-align: center;
    font-size: 40px;
    background: #c7d15b;
    color: #FFF;
    /* display: inline; */
    margin: 2px 0px 20px 0px;
}
button {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px;
    background: #0D0630;
    color: #FFF;
}
.playerTwo{
    display: none;
}
.chance {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    color: #FFF;
    background: #08b5d3;
    width: 150px;
    margin: 0 auto;
    height: 36px;
    border-radius: 10px;
}
